@font-face {
  font-family: "jennasue-webfont";
  src: url('../webfonts/jennasue-webfont.woff');
}

header {
  /* background-image: url(../images/images/works/average/095010.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%; */
  /* width: 100%;
  height: 30em; */
  margin: 0 auto;
  height: 500px;
  position: relative;
  width: 100%;
  height: 500px;
  text-align: center;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  float: left;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  margin: 0px;
  padding: 0px;
}

#imgs {
  width: 1525px;
  height: 100%;
  overflow: hidden;
  float: left;
  position: relative;
}

#imgs img {
  width: 1525px;
  height: 500px;
}

#imgs ul {
  position: absolute;
  z-index: 1;
  width: 9150px;
  height: 400px;
  left: -1525px;
}

#nav {
  width: 100px;
  height: 20px;
  float: left;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}

#nav ul li a {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background: #FFF;
  border-radius: 10px;
  margin-right: 5px;
  text-align: center;
  font-size: 12px;
}

#preous, #next {
  width: 100px;
  background: rgba(180, 184, 174, 0.04);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  height: 80px;
  line-height: 80px;
  position: absolute;
  top: 45%;
  color: #FFF;
  z-index: 3;
}

#preous, #next:hover {
  cursor: pointer;
}

#preous {
  left: 0px;
}

#next {
  right: 0px;
}

#nav ul li a.current {
  background: red;
  color: #FFF;
}

#nav ul li a.hidden {
  background: #FFF;
  color: #000;
}

#nav ul li a:hover {
  cursor: pointer;
}

#imgs {
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  position: relative;
  text-align: center;
  top: 0;
  padding: 0;
}

#imgs img {
  width: 1525px;
  height: 500px;
  margin: 0;
}

hgroup {
  /* display: inline-block; */
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 0;
  margin-left: 0;
}

h1 {
  display: inline-block;
  font-family: "jennasue-webfont";
  font-weight: normal;
  font-size: 4em;
  color: white;
  margin-left: 1.5em;
}

hgroup h2 {
  display: inline-block;
  color: white;
}

nav {
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 0;
  margin-left: 70%;
}

nav ul {
  list-style-type: none;
  margin-right: 5em;
  margin-top: 2em;
}

nav li {
  display: inline;
}

nav ul li a {
  color: #FFF;
  border-bottom: none;
  padding-left: 2em;
  text-decoration: none;
}

.learn_more {
  z-index: 3;
  text-align: center;
  position: absolute;
  top: 40%;
  margin-left: 40%;
}

.learn_more h2 {
  font-size: 30px;
  color: white;
  margin: 1em;
}

.learn_more p {
  font-size: 20px;
  color: white;
  margin: 1em;
}

.learn_more input {
  width: 130px;
  height: 30px;
  font-size: 20px;
  color: rgb(205, 236, 232);
  text-align: center;
  border: 2px solid rgb(205, 236, 232);
  background: none;
  outline-color: rgb(239, 242, 237);
}

.learn_more input:hover {
  cursor: pointer;
  border: 2px solid rgb(166, 237, 228);
}

section {
  font-size: 15px;
  margin-top: 2em;
  text-align: center;
}

section div {
  display: inline-block;
  width: 17em;
  margin: 2em;
}

div[class*="intro"] {
  font-size: 20px;
  font-family: 'Times New Roman' sans-serif;
  font-weight: 500;
  text-align: center;
}

div[class*="intro"] img {
  width: 6em;
  height: 6em;
  margin: 0.5em;
  border: 2px solid rgba(13, 226, 244, 0.88);
  border-radius: 100px;
}

div[class*="intro"] img:hover {
  width: 6.5em;
  height: 6.5em;
  margin: 0;
}

div[class*="intro"] p {
  width: 17em;
  height: 15em;
}

div[class*="intro"] h2 {
  font-size: 30px;
}

div[class*="intro"] a[role="button"] {
  width: 6em;
  height: 20px;
  display: inline-block;
  background-color: rgb(14, 200, 240);
  font-size: 20px;
  padding: 0.5em;
  margin-top: 0;
  text-decoration: none;
  color: white;
  border: solid rgb(14, 200, 240);
  border-radius: 7px;
}

div[class*="intro"] a[role="button"]:hover {
  background-color: white;
  color: rgb(14, 200, 240);
  border: solid rgb(14, 200, 240);
}

footer {
  background-color: black;
  margin-top: 1em;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0.5em;
  clear: both;
}

li a:hover {
  color: red;
}

.box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.1)) repeat-x rgba(11, 11, 11, 0.1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11, 11, 11, 0.1)), to(rgba(11, 11, 11, 0.1))) repeat-x rgba(11, 11, 11, 0.1);
  z-index: 100000;
  display: none;
}

.box_content {
  width: 28em;
  height: 33em;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
}

.box_content .title {
  height: 45px;
  width: 100%;
  background: #EEEEEE;
  line-height: 45px;
  overflow: hidden;
}

.title:hover {
  cursor: move;
}

.title h3 {
  float: left;
  margin-left: 20px;
  font-size: 30px;
}

.title h4 {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: #999999
}

.title h4:hover {
  color: #444444;
  cursor: pointer
}

.box_content .content {
  margin: 20px 20px 10px 20px;
  overflow: hidden;
}

input {
  width: 400px;
  height: 40px;
  margin-top: 2em;
  border: 0.1em solid rgb(221, 219, 212);
  font-size: 20px;
  color: rgb(144, 152, 151);
  outline: none;
}

.test>div {
  display: inline-block;
  margin-right: 90px;
}

.test input {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin-top: 2em;
  border: 0.1em solid rgb(221, 219, 212);
  font-size: 20px;
  color: rgb(144, 152, 151);
  outline: none;
}

/* input:focus {
  border: 0.1em solid rgb(221, 219, 212);
} */

form input[type="button"] {
  border: none;
  border-radius: 7px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
  letter-spacing: 5px;
  color: white;
  background-color: #E91E63;
  padding: 0.5em 0 0.5em 0;
  margin-top: 1.7em;
  width: 400px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

form input[type="button"]:focus {
  background-color: #FF4081;
}

form input[type="button"]:hover {
  cursor: pointer;
}

#signup label.error {
  color: #F00;
  font-weight: bold;
  display: block;
  margin-left: 215px;
}

#signup input.error {
  background: #FFa9B8;
  border: 1px solid red;
}

#name-error p, #password-error p, #code-error p {
  color: #F00;
  font-weight: bold;
  display: block;
  margin-left: 200px;
}