@font-face {
  font-family: "jennasue-webfont";
  src: url('../webfonts/jennasue-webfont.woff');
}
h1 {
  font-family: "jennasue-webfont";
  font-weight: normal;
  font-size: 4em;
  color: white;
  /*margin-left: 1.5em;*/
}
nav p {
  vertical-align: center;
  color: rgb(255, 246, 248);
  font-family: '微软雅黑','ColaborateLightRegular', Arial, sans-serif;
}

nav ul li a {
  color: rgb(249, 249, 249);
  border-bottom: none;
  text-decoration: none;
  margin-left: 2em;
  vertical-align: baseline;
  font-size: 20px;
  outline: none;
}

.carousel-caption input {
  width: 130px;
  height: 30px;
  font-size: 20px;
  color: rgb(205, 236, 232);
  text-align: center;
  border: 2px solid rgb(205, 236, 232);
  background: none;
  outline-color: rgb(239, 242, 237);
  margin-bottom: 5em;
}

.carousel-caption input:hover {
  cursor: pointer;
  border: 2px solid rgb(166, 237, 228);
}

section {
  font-size: 15px;
  margin-top: 2em;
  text-align: center;
}

div[class*="intro"] {
  font-size: 20px;
  font-family: "Times New Roman", sans-serif;
  font-weight: 500;
  text-align: center;
}

div[class*="intro"] img {
  width: 6em;
  height: 6em;
  margin: 0.5em;
  /*border: 2px solid rgba(13, 226, 244, 0.88);*/
  border-radius: 100px;
}

div[class*="intro"] h2 {
  font-size: 30px;
}

div[class*="intro"] a[role="button"] {
  width: 6em;
  height: 37px;
  display: inline-block;
  background-color: rgb(14, 200, 240);
  font-size: 20px;
  padding: 0.2em;
  margin-top: 0;
  text-decoration: none;
  color: white;
  border: solid rgb(14, 200, 240);
  border-radius: 7px;
}

footer {
  background-color: black;
  margin-top: 1em;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0.5em;
  clear: both;
}

li a:hover {
  color: red;
}

.box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.1)) repeat-x rgba(11, 11, 11, 0.1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11, 11, 11, 0.1)), to(rgba(11, 11, 11, 0.1))) repeat-x rgba(11, 11, 11, 0.1);
  z-index: 100000;
  display: none;
}

.box_content {
  width: 28em;
  height: 33em;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
}

.box_content .title {
  height: 45px;
  width: 100%;
  background: #EEEEEE;
  line-height: 45px;
  overflow: hidden;
}

.box_content .content {
  margin: 20px 20px 10px 20px;
  overflow: hidden;
}

img {
  height: 40em;
}
nav {
  background-color: rgba(41, 30, 33, 0.91);
}