.title h3 {
float: left;
margin-left: 20px;
font-size: 30px;
}

.title h4 {
float: right;
font-size: 20px;
margin-right: 10px;
margin-top: 5px;
color: #999999
}

.title h4:hover {
color: #444444;
cursor: pointer
}

.title:hover {
  cursor: move;
}

.content input {
width: 400px;
height: 50px;
margin-top: 2em;
border: 0.1em solid rgb(221, 219, 212);
font-size: 20px;
color: rgb(144, 152, 151);
outline: none;
}

.test>div {
display: inline-block;
margin-right: 90px;
}

.test input {
display: inline-block;
width: 150px;
height: 40px;
margin-top: 2em;
border: 0.1em solid rgb(221, 219, 212);
font-size: 20px;
color: rgb(144, 152, 151);
outline: none;
}

.content input[type="button"] {
border: none;
border-radius: 7px;
text-align: center;
font-weight: bold;
font-size: 25px;
font-family: sans-serif;
letter-spacing: 5px;
color: white;
background-color: #E91E63;
padding: 0.5em 0 0.5em 0;
margin-top: 1.7em;
width: 400px;
height: 50px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.content input[type="button"]:focus {
background-color: #FF4081;
}

.content input[type="button"]:hover {
cursor: pointer;
}

#signup input.error {
background: #FFa9B8;
border: 1px solid red;
}

#name-error, #password-error {
height: 30px;
}

.test {
height: 90px;
}

#name-error p, #password-error p, #code-error p {
color: #F00;
font-weight: bold;
display: block;
margin-left: 200px;
}
.login-succeed{
  color: red;
}