.nav-one {
  padding: 0.5em;
  background: black;
  text-align: right;
}

li {
  display: inline;
  margin-right: 3em;
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
}

h1 {
  display: inline-block;
  font-size: 2.5em;
  font-family: sans-serif;
  font-weight: 500;
  margin: 0;
}

.search-box {
  display: inline-block;
  clear: both;
  float: right;
  margin-right: 5em;
  margin-top: 0.5em;
}

.search-box input[type="text"] {
  width: 300px;
  height: 30px;
  border: solid 1.5px #E91E63;
  border-right: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  outline: none;
  font-size: 17px;
}

.search-box input[type="submit"] {
  vertical-align: bottom;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 5px;
  color: white;
  background-color: #E91E63;
  padding: 0.5em 0 0.5em 0;
  width: 50px;
  height: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  outline: none;
}

.search-box input[type="submit"]:hover {
  background-color: #FF4081;
}

.nav-two {
  background-color: rgb(189, 200, 200);
  padding: 1em;
}

.information {
  float: left;
}

.information table {
  background-color: rgb(8, 217, 238);
  margin: 1em;
}

.information table tr td {
  padding: 0.5em;
}

.information table tr td input {
  background-color: rgb(14, 228, 136);
  border: solid rgb(219, 238, 241) 2px;
  float: right;
  font-size: 16px;
  width: 73;
  padding: 3px;
}

.information table tr td input:hover {
  cursor: pointer;
}

.record {
  float: right;
}

.upload {
  width: 800px;
  height: 200px;
  margin: 1em;
  background-color: rgb(243, 250, 210);
}

.buy {
  width: 800px;
  height: 200px;
  margin: 1em;
  background-color: rgb(17, 242, 210);
}

.buy table {
  margin: 1em;
}

.buy table tr td {
  border: solid 2px rgb(198, 198, 214);
  padding: 3px 2em 3px 3px;
}

.sell {
  width: 800px;
  height: 200px;
  margin: 1em;
  background-color: rgb(162, 252, 43);
}