h2 {
  font-size: 1.5em;
  font-family: sans-serif;
  margin: 0.5em;
}

.search-result {
  text-align: center;
}

.img-infor {
  display: inline-block;
  width: 20em;
  height: 21em;
  margin: 50px;
  border: 1px solid rgb(226, 18, 39);
  padding: 15px;
  background-color: rgb(246, 249, 186);
}

.img-name {
  height: 10em;
  vertical-align: middle;
}

.img-name img {
  display: inline-block;
  float: left;
  width: 9em;
  height: 14em;
}

.img-name p {
  overflow: hidden;
  padding-top: 3em;
  padding-left: 1em;
}

.introduce {
  clear: both;
  margin-top: 5em;
}

.img-button {
  clear: both;
}

.img-button input {
  vertical-align: center;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  font-family: sans-serif;
  letter-spacing: 5px;
  color: white;
  background-color: #E91E63;
  padding: 0.2em 0 0.5em 0;
  width: 65px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  outline: none;
  margin: 0 2em;
}

.img-button input:hover {
  cursor: pointer;
}

